<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
       
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernates</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
         <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.jdbc.use_streams_for_binary">true</property>
        <property name="hibernate.jdbc.batch_size">0</property>
        <property name="hibernate.max_fetch_depth">3</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="hibernate_mysql_conn.UserInfo"/>
    </session-factory>
</hibernate-configuration>
